<% layout('layout/page') %>

<h1>Введите данные</h1>
<form name="user">
    <label>Логин</label></br>
    <input type="text" name="login" /></br>
    <input type="password" name="password"><br/>
    <input type="submit" value="Отправить" />
    <span class="error"></span>
</form>

<script>
    function error(jqXHR) {
        var err = jqXHR.responseText;
        $('.error', document.forms['user']).html(err);
    }

    $(document.forms['user']).on('submit', function (event) {
        event.preventDefault();
        var form = $(this);

        $('.error', form).html('');

        $.ajax({
            url: '/api/login',
            method: "POST",
            data: form.serialize(),
            statusCode: {
                200: function (data) {
                    $('.error').html(data);
                },
                403: error,
                404: error,
                500: error
                }
            });
        return false;
    });
</script>