@font-face{
	font-family: Play-Regular;
	src:url(../font/Play-Regular.ttf);
}
@font-face{
	font-family: Gotham;
	src:url(../font/Gotham.ttf);
}

html, body{
	width: 100%;
	height: 100%;
	margin:0;
	background: #f2f5fa;
	align-items: center;
	justify-content:  center;
	overflow: auto;
}
header{
	height: 18px;
	box-shadow: 0 0 10px rgba(50,50,50,0.5);
	padding: 24px;
}
i{
	color: white;
	font-size: 27px;
}
/* левое меню */
.menu{
	width: 300px;
	height: 100%;
	float: left;
	background: #2e323e;
}
.menu__header{
	background: #383c47;
}
.menu__header-text{
	display: inline-block;
	margin:0;
	font: bold 18px Gotham;
	color: white;
}
.menu_hide{
	display: inline-block;
	float: right;
}
.menu_show{
	display: none;
	float: right;
}
.icon-backburger{
	font-size: 20px;
}
.menu__add-project{
	width: 100%;
	height: 47px;
	display: flex;
	align-items: center;
	justify-content:  center;
	overflow: auto;
}
.menu__add-project:hover{
	background-color: #292d38;
}
.menu_plus{
	display: inline-block;
	align-items: center;
}
.icon-plus{
	display: inline-block;
	align-items: center;
	color: #2e323e;
	font-size: 27px;
}
.menu__project{
	height: 47px;
	display: flex;
	align-items: center;
	justify-content:  left;
	overflow: auto;
	color: #afb0b5;
}
.menu__project:hover{
	background-color: #292d38;
}
.icon-project{
	margin-left: 26px;
	display: inline-block;
	padding: 0;
	font-size: 20px;
	color: #afb0b4;
}
.menu__project-name{
	display: inline-block;
	height: 15px;
	font: bold 15px Gotham;
	margin-left: 24px;
}

/* правая контекстная часть */
.content{
	min-width: 1188px;
	width: auto;
	height: 100%;
}
.content__header{
	background: white;
}
.content__project-name{
	display: inline-block;
	margin-left: 25px;
	font: bold 18px Gotham;
	color: black;
}
.icon-plus-circle{
	position: absolute;
	color: #2e323e;
	font-size: 50px;
	top: 90%;
	left: 93%;
}
#exit{
	display: inline-block;
	margin-right: 25px;
	background: url(../img/exit.png) no-repeat;
	background-size: cover;
	width: 18px;
	height: 18px;
	float: right;
}

/*Модальное окно*/
.modal-window{
	position: fixed;
	align-items: center;
    justify-content: center; 
    overflow: none; 
	background-color: #fff;
 	width: 300px;
 	height: auto;
 	display: none;
 	position: absolute;
 	z-index: 5; 
	opacity:0; 
 	top: 50%;
 	left: 50%;
 	margin-left: -150px;
 	padding: 15px;
 	border-radius: 3px;
 	box-shadow: 0px 9px 29px 3px rgba(0, 0, 0, 0.31);
}
#modal-window__close{
 	z-index: 8; 
	background: url(../img/close.png) no-repeat;
	background-size: cover;
	width: 24px;
	height: 24px;
	position: absolute;
	top: -12px;
	right: -12px;
	float: right;
	cursor: pointer;
	display: block;
	overflow: none;
}
#overlay{
	background-color: gray;
	z-index:3; 
	position:fixed;
	opacity:0.8; 
	filter:alpha(opacity=80);
	width:100%; 
	height:100%; 
	top:0; 
	left:0;
	cursor:pointer;
	display:none; 
}
.add-project-form{
	align-items: center;
	padding: 10px;
}
.add-project-form input{
	margin-top: 5px;
	border: 1px solid lightgray;
 	padding: 2%;
 	height: 20px;
 	width: 96%;
 	font: 17px Gotham;
}
.add-project-form label{
	font: 17px Gotham;
}
.add-project-form button{
	display: inline-block;
	margin-top: 10px;
	padding: 5px;
	height: 30px;
	width: 100%;
	border: none;
	color: white;
	font: 18px Gotham;
	background-color: #383c47;
}
.add-project-form__button-add{
	float: left;
}

