@font-face{
	font-family: Play-Regular;
	src:url(../font/Play-Regular.ttf);
}

@font-face{
	font-family: Gotham;
	src:url(../font/Gotham.ttf);
}

body{
	width: 100%;
	height: 100%;
	position: fixed;
	display: flex;
	align-items: center;
    justify-content: center; 
    overflow: auto;   
	background: #383c47;
	padding: 0;
	margin: 0;
	font-family: Play-Regular;
}

.login-block{
	align-items: center;
	width: 25%;
	background: #f7f7f7;
	padding: 5% 3%;
}

.login-block h1{
	text-align: center;
	font: normal 50px Gotham;
	margin: 7%;
	/*color: gray;*/

}

.login-block__login-form  input{
	border: 1px solid lightgray;
	padding: 2%;
	height: 37px;
	width: 96%;
	font: 20px Play-Regular;
}

.login-block__login-form_empty{
	border: 1px solid red;
}



#login-form__button-login{
	width: 100%;
	margin-top: 10%;
	margin-bottom: 5%;
	height: 40px;
	border: none;
	background-color: #4e90fe;
	color: white;
	font: bold 18px Play-Regular;
	cursor: pointer;
}

.login-block__bottom a, .login-block__bottom a:visited{
	color: #383c47;
	text-decoration: none;
}

.login-block__bottom a:hover{
	text-decoration: underline;
}

.login-form__button-login_disable, .login-form__button-login_disable:hover{
	background-color: #4e90fe;
	cursor: default;
}

.login-block__login-form label{
	margin-top: 5px;
	margin-bottom: 0;
	font: 15px Play-Regular;
	text-align: center;
	color: red;
}

.login-block__login-form input:focus {
 	outline: none; 
}



@media screen and (max-width: 1440px) {
	.login-form__button-login{
		font: bold 12px Play-Regular;
	}

}

@media screen and (max-width: 1024px) {
	.login-block {
		width: 50%;
	}
	.login-form__button-login{
		font: bold 15px Play-Regular;
		height: 55px; 
	}
	.login-block__login-form input{
		font: 20px Play-Regular;
	}
	.login-block h1{
		font: normal 40px Gotham;
	}
}
