<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <title><% blocks.title%></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>

<header>
    <%-blocks.header %>
</header>

<section class="container">

    <nav class="navbar navbar-default" role="navigation">
        <ul class="nav navbar-nav">
            <li><a href="/"> Главная</a></li>
            <li><a href="/api/autorize">Войти</a></li>
            <li><a href="/api/signup">Регистрация</a></li>
            <li><a href="/api/info/version">Версия</a></li>
        </ul>
    </nav>

</section>

<footer>
</footer>
</body>
</html>