<!DOCTYPE html>
<html lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Projects</title>
    <link rel="icon" href="../public/image/logo.png" />
    <!-- <script src="../public/lib/jquery.js"></script>
	<script src="../public/js/create_project.js"></script>
	<script src="../public/js/show_add_project.js"></script>
	<script src="../public/js/select_project.js"></script> -->
    <link rel="stylesheet" href="../public/css/index.css">
</head>

<body>
    <div class="main_block">
        <header>
            <div class="to_do">
                <h3>To Do</h3>
            </div>
            <div class="task_panel">
                <h3 class="project_name">Task panel</h3>
            </div>
        </header>

        <div class="wrapper">
            <div class="projects">
                <div class="show_add_project">
                    <img src="../public/image/plus.png" alt="1">
                </div>
                <div class="new_project">
                    <div class="project_name">
                        Название блока
                        <input type="text" id="project_name">
                    </div>
                    <button class="create_project">Создать проект</button>
                </div>
                <div class="added_projects">
                    <!-- <div class="added_project">
            		<div class="project_name">qwertyu
           			</div>
				</div> -->
                </div>
            </div>
            <div class="tasks">Tasks</div>
        </div>
    </div>
    <script src="../public/lib/jquery.js"></script>
    <script src="../public/js/create_project.js"></script>
    <script src="../public/js/show_add_project.js"></script>
    <script src="../public/js/select_project.js"></script>
</body>

</html>