<!DOCTYPE html>
<html lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Projects</title>
    <link rel="icon" href="../public/image/logo.png" />
    <!-- <script src="../public/lib/jquery.js"></script>
	<script src="../public/js/create_project.js"></script>
	<script src="../public/js/show_add_project.js"></script>
	<script src="../public/js/select_project.js"></script> -->
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="stylesheet" href="../public/css/app.css">

    <script src="../public/lib/jquery.js"></script>
    <script src="../public/lib/jquery-ui.min.js"></script>
</head>

<body>
    <div class="main_block">
        <div class="header">
            <div class="to_do">
                <h3>To Do</h3>
            </div>
            <div class="task_panel">
                <h3 class="project_name">Task panel</h3>
            </div>
        </div>

        <div class="projects">
            <div class="show_add_project">
                <img src="../public/image/plus.png" alt="1">
            </div>

            <div class="new_project hide">
                <div class="project_name">
                    <span>Создать проект</span>
                    <input type="text" id="project_name" placeholder="Название проекта">
                </div>
                <button class="create_project" id="create_project">Создать</button>
            </div>

            <div class="added_projects">
                <!-- <div class="added_project">
            		<div class="project_name">qwertyu
           			</div>
				</div> -->
            </div>
        </div>
        <div class="tasks">tasks
        </div>

        <div class="block-menu gradient center-text-align disable-selection">
            <img src="../public/image/account-settings-variant.png" alt="+">
            <ul class="block-menu-list hide" id="block-menu-list">
                <li id="projectInsert">Добавить новый проект</li>
                <li id="projectPatch">Изменить проект</li>
                <li id="projectDelete">Удалить проект</li>
            </ul>
        </div>
    </div>


    <!--<div class="shadow">
        <div class="windowProject">
            <p>Укажите название проекта</p>
            <input type="text" name='title' placeholder="Название проекта">
            <button>Создать проект</button>
        </div>
    </div>-->



    <script src="../public/js/create_project.js"></script>
    <script src="../public/js/show_add_project.js"></script>
    <script src="../public/js/select_project.js"></script>
    <script src="../public/js/checkAuthrorization.js"></script>
    <script src="../public/js/listAdminProject.js"></script>
    <script src="../public/js/getAllUserProject.js"></script>
</body>

</html>