<!DOCTYPE html>
<html lang="ru">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Авторизация</title>

	<script src="../public/lib/jquery.js"></script>

	<link rel="stylesheet" href="../public/css/login.css">
	<script src="../public/js/login.js"></script>
	<link rel="stylesheet" href="../public/css/app.css">

	<script src="/socket.io/socket.io.js"></script>
	<script src="../public/js/main.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser.js"></script>
</head>
<body>
<script type="text/babel">

	var Header = React.createClass({
		render: function(){
			return (
				<div className="header1">
					<h3>Авторизация</h3>
					<a href="#" className="uppercase" id="come_back">Назад</a>
				</div>
			);
		}
	});
	
	var Main = React.createClass({
		render: function(){
			return (
				<div className="reg_block">
				<div className="avatar"></div>
				<form action="#" method="POST">
				<label for="login"></label>
				<input id="email" type="email" name="email" placeholder="Email" required />
				<input id="password" type="password" name="password" placeholder="Пароль" required />
				<button id="sign_up" type="submit" className="uppercase">Вход</button>
			</form>
		</div>
			);
		}
	});
	ReactDOM.render(
		<Header />,
		document.getElementById("header")
	);

	ReactDOM.render(
		<Main />,
		document.getElementById("main")
	);

	</script>
	<div id="header" class="header"></div>
	<div id="main" class="main_block"></div>
</body>
</html>