<!DOCTYPE html>
<html lang="ru">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Авторизация</title>
	<link rel="icon" href="../public/image/logo.png"/>

	<script src="../public/lib/jquery.js"></script>

	<link rel="stylesheet" href="../public/css/login.css">
	 <script src="../public/js/login.js"></script>
	<!--<script src="/socket.io/socket.io.js"></script>
	<script src="../public/js/main.js"></script> -->

</head>
<body>
	
	<header>
		<h3>Авторизация</h3>

		<a id="come_back" href="./index.html"><img src="../public/image/back.png" alt=""></a>
	</header>

	<div class="main_block">


		<div class="reg_block">
			<img src="../public/image/avatar.png" alt="">
			<form action="" method="POST" class="rf">
				<label class ='error'></label>
				<input id="email" class="field" type="email" name="email" placeholder="Email" required>
				<label for="email" class="lmail"></label>
				<input id="password" class="field" type="password" name="password" placeholder="Пароль" required>
				<label for="password" class="lpass"></label>
				
				<button id="sign_in" type="submit" class="uppercase login disable" disabled="true">Войти</button>
				<p>или</p>
				<button id="sign_up" type="submit" class="uppercase">Регистрация</button>
			</form>
		</div>

	</div>
</body>
</html>