<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <title><% blocks.title%></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>

<header>
    <%-blocks.header %>
</header>

<section class="container">

    <nav class="navbar navbar-default" role="navigation">
        <ul class="nav navbar-nav">
            <li><a href="/"> Главная</a></li>
            <li><a href="/api/autorize">Войти</a></li>
            <li><a href="/api/signup">Регистрация</a></li>
            <li><a href="/api/info/version">Версия</a></li>
        </ul>
    </nav>

    <h1>Введите данные</h1>
    <form name="register">

        <label>Email</label><br>
        <input type="email" name="email" require /><br><br>
        <label>Имя</label><br>
        <input type="text" name="first_name" require /><br><br>
        <label>Фамилия</label><br>
        <input type="text" name="last_name" require /><br><br>
        <label>Пароль</label><br>
        <input type="password" name="password" require/><br><br>

        <input type="submit" value="Отправить" /><br><br>
        <span class="error"></span><br>

    </form>

    <script>

        function error(jqXHR) {
            var err = jqXHR.responseJSON;
            $('.error', document.forms['user']).html(err.message);
        }

        $(document.forms['register']).on('submit', function (event) {
            event.preventDefault();

            var form = $(this);
            $.ajax({
                url: '/api/signup',
                method: 'POST',
                data: form.serialize(),
                statusCode: {
                    200: function (data) {
                        $('.error').html('Успешно');
                    },
                    400: error,
                    401: error,
                    403: error,
                    500: error
                }
            });
        });
    </script>

</section>

<footer>
</footer>
</body>
</html>