<!DOCTYPE html>
<html lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Registration</title>
    <link rel="icon" href="../build/img/logo.png" />
    <link rel="stylesheet" href="../public/css/app.css">

    <script src="../public/lib/jquery.js"></script>
    <link rel="stylesheet" href="../public/css/sign_up.css">
    <script src="../public/js/sign_up.js"></script>


</head>

<body>

    <header>
        <h3>Регистрация</h3>

        <a href="./index.html" id="come_back"><img src="../build/img/back.png" alt=""></a>
    </header>

    <div class="main_block">

        <div class="reg_block">
            <img src="../build/img/avatar.png" alt="">
            <form method="POST" name="sign_up" class="reg_form">

                <label class ='error'></label>

                <input id="first_name" type="text" name="first_name" placeholder="Имя" class="field" required>
                <label for="last_name" class="fname"></label>

                <input id="last_name" type="text" name="last_name" placeholder="Фамилия" class="field" required>
                <label for="last_name" class="lname"></label>

                <input id="email" type="email" name="email" placeholder="Email" class="field" required>
                <label for="email" class="rmail"></label>

                <input id="password" type="password" name="password" placeholder="Пароль" class="field" required>
                <label for="password" class="rpass"></label>

                <input id="confirm_password" type="password" name="confirm_password" placeholder="Подтвердить пароль" class="field" required>
                <label for="confirm_password" class="rcpass"></label>

                

                <button type="submit" class="uppercase" id="sign_up">Зарегестрироваться</button>
            </form>
        </div>

    </div>
</body>

</html>