<!DOCTYPE html>
<html lang="ru">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Registration</title>
	<link rel="icon" href="style/image/logo.png"/>
	<script src="public/style/lib/jquery.js"></script>
	<link rel="icon" href="../public/image/logo.png"/>

	<script src="../public/lib/jquery.js"></script>
<!--	<script src="lib/jquery-ui.js"></script>
	<script src="lib/inputmask.min.js"></script>
	<script src="lib/jquery.maskedinput.min.js"></script>

	 <script src="lib/cross_domen_ajax.js"></script> -->

	<link rel="stylesheet" href="public/style/sign_up.css">
	<script src="public/style/script/sign_up.js"></script>
	<link rel="stylesheet" href="../public/css/sign_up.css">
	<script src="../public/js/sign_up.js"></script>

	<script src="/socket.io/socket.io.js"></script>
	<script src="../public/js/main.js"></script>
	<!-- <script src="lib/inputmask.min.js"></script>
	<script src="lib/inputmask.phone.extensions.js"></script> -->

</head>
<body>
	
	<div class="header">
		<h3>Регистрация</h3>
		<a href="/" class="uppercase" id="come_back">Назад</a>
	</div>

	<div class="main_block">

		<div class="reg_block">
			<div class="avatar">
			</div>
			<form method="POST" name="sign_up">

				<!--<label for="login"></label>
				<input id="login" type="text" name="login" placeholder="Логин" required>-->
				<input id="first_name" type="text" name="first_name" placeholder="Имя" required>
				<input id="last_name" type="text" name="last_name" placeholder="Фамилия" required>
				<input id="email" type="email" name="email" placeholder="Email" required>

				<!--<input id="tel" type="tel" name="tel" placeholder="Мобильный телефон" required>-->

				<input id="password" type="password" name="password" placeholder="Пароль" required>

				<label for="password"></label>
				<input id="confirm_password" type="password" name="confirm_password" placeholder="Подтвердить пароль" required>
				<label for="confirm_password"></label>
                <link rel="stylesheet" href="../public/css/app.css">

				<button type="submit" class="uppercase">Регистрация</button>
			</form>
		</div>

	</div>
</body>
</html>