<!DOCTYPE html>
<html lang="ru">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Registration</title>
	<link rel="icon" href="../public/image/logo.png"/>

	<script src="../public/lib/jquery.js"></script>
	<script src="lib/jquery-ui.js"></script>
	<script src="lib/inputmask.min.js"></script>
	<script src="lib/jquery.maskedinput.min.js"></script>

	 <script src="lib/cross_domen_ajax.js"></script> 

	<link rel="stylesheet" href="../public/css/sign_up.css">
	<script src="../public/js/sign_up.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="../public/js/main.js"></script>
	<script src="lib/inputmask.min.js"></script>
	<script src="lib/inputmask.phone.extensions.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser.js"></script>

</head>
<body>
	<script type="text/babel">
		
		var RegHeader = React.createClass({
			render: function(){
				return (
					<div className="header1">
						<h3>Регистрация</h3>
						<a href="#" className="uppercase" id="come_back">Назад</a>
					</div>
				);
			}
		});

		var RegBlock = React.createClass({
			render: function(){
				return(
					<div className="reg_block">
						<form method="POST" name="sign_up">
						<input id="first_name" type="text" name="first_name" placeholder="Имя"  />
						<input id="last_name" type="text" name="last_name" placeholder="Фамилия"  />
						<input id="email" type="email" name="email" placeholder="Email"  />
						<input id="password" type="password" name="password" placeholder="Пароль"  />
						<label for="password"></label>
						<input id="confirm_password" type="password" name="confirm_password" placeholder="Подтвердить пароль"  />
						<label for="confirm_password"></label>
		                <link rel="stylesheet" href="../public/css/app.css" />
						<button type="submit" className="uppercase">Регистрация</button>
						</form>
					</div>
				);
			}
		});

		var Avatar = React.createClass({
			render: function(){
				return(
					<div className="avatar"></div>
				);
			}
		});

		ReactDOM.render(
			<RegHeader />,
			document.getElementById("header")
		);

		ReactDOM.render(
			<RegBlock />,
			document.getElementById("main")
		);

	</script>
	<div id="header" class="header"></div>
	<div id="main" class="main_block"></div>
</body>
</html>