html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin-top: -23px;
    height: 100%;
}

.wrapper {
    height: 100%;
    width: 100%;
}

.main_block {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    height: 66px;
    color: #ffffff;
    background-position: 25px;
    vertical-align: middle;
    font: 20px Arial;
}

.to_do {
    height: 66px;
    background: #383c47 no-repeat CENTER;
    width: 252px;
    float: left;
}

.to_do h3 {
    margin-left: 15px;
}

.task_panel {
    text-align: center;
    height: 66px;
    line-height: 66px;
    width: auto;
    color: black;
    box-shadow: 0px 5px 4px 0px #d9dce3;
}

.task_panel h3 {
    height: 33px;
}

.projects {
    vertical-align: middle;
    text-align: center;
    color: white;
    height: 100%;
    width: 252px;
    background-color: #2e323e;
    float: left;
}

.new_project {
    display: none;
    width: auto;
}

.added_project {
    display: inline-block;
    vertical-align: middle;
    height: 49px;
    background-color: #2e323e;
    width: 100%;
    color: white;
}

.added_project:hover {
    background-color: #292d38;
}

.show_add_project {
    height: 49px;
}

.show_add_project:hover {
    background-color: #292d38;
}

.project_name {
    position: center;
}

.tasks {
    text-align: center;
    background-color: #f2f5fa;
    width: auto;
    height: 100%;
}