//colors
$color_eastern_blue_approx: #208abe;
$color_ship_gray_approx: #383c47;
$color_romance_approx: #fffffc;
$white: white;
$color_black_squeeze_approx: #f2f5fa;
$color_quill_gray_approx:  lightgray;
$gray: gray;
$black_43: rgba(0, 0, 0, 0.43);

//fonts
$font_0: arial;
$font_1: Arial;
$font_2: sans-serif;

//urls
$url_0: url(../image/avatar.png);

body {
	width: 1920px;
	margin: 0;
	left: 0;
	height: 1080px;
}
.uppercase {
	text-transform: uppercase;
	color: $color_eastern_blue_approx;
}
.header {
	width: 100%;
	height: 45px;
	line-height: 45px;
	background: $color_ship_gray_approx no-repeat left;
	background-position: 25px;
	vertical-align: middle;
	color: $color_romance_approx;
	font: 20px $font_0;
	padding: 10px 25px;
	h3 {
		position: relative;
		display: inline-block;
		margin: 0;
		top: 5px;
		left: 45px;
		font: bold 28px $font_1, $font_2;
	}
	a {
		position: relative;
		display: inline-block;
		font: 20px $font_1, $font_2;
		margin: 0;
		left: 85%;
		color: $white;
		text-decoration: none;
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
	}
}
.main_block {
	height: 100%;
	background: $color_black_squeeze_approx;
	padding: 75px 25px 5px;
	input {
		border: none;
		border-bottom: 1px solid $color_quill_gray_approx;
		margin-top: 30px;
		width: 100%;
		height: 35px;
		font-size: 20px;
	}
	button {
		width: 50%;
		margin-left: 25%;
		margin-top: 50px;
		height: 50px;
		border: none;
		background-color: $color_eastern_blue_approx;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 1px 3px 1px $black_43;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 5px;
		color: $white;
		font-weight: bold;
		cursor: pointer;
	}
}
.reg_block {
	border: 2px solid $color_quill_gray_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px;
	margin: 0 auto;
	width: 535px;
	padding: 60px 50px 50px;
	margin-bottom: 75px;
	background-color: $white;
	form {
		height: 100%;
		input:focus {
			outline: none;
		}
	}
}
.avatar {
	margin: 0 auto;
	position: relative;
	width: 140px;
	height: 140px;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 50%;
	background: $gray $url_0 no-repeat center;
	margin-bottom: 50px;
}