@font-face{
	font-family: Play-Regular;
	src:url(../font/Play-Regular.ttf);
}

body{
	width: 100%;
	height: 100%;
	background: #f2f5fa;
	padding: 0;
	margin: 0;
}

.uppercase {
	text-transform: uppercase;
}

header{
	background: #383c47;
	color: #fffffc;
	padding: 15px 25px;
	font: normal 20px Play-Regular;
}

header h3{
	display: inline-block;
	vertical-align: center;
	margin: 0;
}

header a{
	display: inline-block;
	float: right;
	color: white;
	text-decoration: none;
}

header img{
	width: 50%;
	height: auto;
}

.main_block{
	width: 100%;
	margin-right: 0;
	margin-left: 0;
	padding: 0;
}

.reg_block{
	background: white;
	border: 2px solid lightgray;
	width: 25%;
	padding: 30px 50px 30px;
	margin: 4% 34% 0;
}

.reg_block form{
	height: 100%;
}

.reg_block img{
	width: 40%;
	min-width: 50px;
	height: auto;
	margin: 0 29% 5%;
}

.reg_block  input{
	border: none;
	border-bottom: 1px solid lightgray;
	margin-top: 10%;
	width: 100%;
	font: 15px Play-Regular;
}

.reg_block .empty{
	border:none;
	border-bottom: 1px solid red;
}

.reg_block button{
	width: 65%;
	margin: 15% 17% 0;
	height: 35px;
	border: none;
	background-color: #208abe;
	box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.43);
	border-radius: 5px;
	color: white;
	font: bold 14px Play-Regular;
	cursor: pointer;
}

.reg_block button.disable, .reg_block button.disable:hover{
	background: #afdde6;
	cursor: default;
}

#sign_up{
	margin-top: 0;
	}

.reg_block p{
	font: bold 14px Play-Regular;
	color: #383c47;
	text-shadow: 0px 1px 3px lightgray;
	text-align: center;
}

.reg_block label{
	margin-top: 15px;
	margin-bottom: 0;
	font: 15px Play-Regular;
	text-align: center;
	color: red;
}

.reg_block form input:focus {
 	outline: none; 
}

@media screen and (max-width: 1440px) {
	.reg_block button{
		width: 100%;
		margin-left: 0; 
		font: bold 12px Play-Regular;
	}

}

@media screen and (max-width: 1024px) {
	.reg_block {
		margin: 15% 5% 0;
		width: 80%;
	}
	.reg_block button{
		font: bold 20px Play-Regular;
		height: 55px; 
	}
	.reg_block input{
		font: 28px Play-Regular;
	}
}
