//colors
$color_ship_gray_approx: #383c47;
$color_romance_approx: #fffffc;
$white: white;
$color_quill_gray_approx:  lightgray;
$color_eastern_blue_approx: #208abe;
$black_43: rgba(0, 0, 0, 0.43);

//fonts
$font_0: Play-Regular;

//urls
$url_0: url(../font/Play-Regular.ttf);

@font-face {
	font-family: $font_0;
	src: $url_0;
}
.uppercase {
	text-transform: uppercase;
}
header {
	background: $color_ship_gray_approx;
	color: $color_romance_approx;
	padding: 15px 25px;
	font: normal 20px $font_0;
	h3 {
		display: inline-block;
		vertical-align: center;
		margin: 0;
	}
	a {
		display: inline-block;
		float: right;
		color: $white;
		text-decoration: none;
	}
	img {
		width: 50%;
		height: auto;
	}
}
.main_block {
	width: 100%;
	margin-right: 0;
	margin-left: 0;
	padding: 0;
}
.reg_block {
	background: $white;
	border: 2px solid $color_quill_gray_approx;
	width: 25%;
	padding: 30px 50px;
	margin: 2% 34% 0;
	form {
		height: 100%;
		input:focus {
			outline: none;
		}
	}
	img {
		width: 40%;
		min-width: 50px;
		height: auto;
		margin: 0 29% 5%;
	}
	input {
		border: none;
		border-bottom: 1px solid $color_quill_gray_approx;
		margin-top: 10%;
		width: 100%;
		font: 15px $font_0;
	}
	button {
		width: 65%;
		margin: 15% 17% 0;
		height: 35px;
		border: none;
		background-color: $color_eastern_blue_approx;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 1px 3px 1px $black_43;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 5px;
		color: $white;
		font: bold 14px $font_0;
		cursor: pointer;
	}
	p {
		font: bold 14px $font_0;
		color: $color_ship_gray_approx;
		//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: 0 1px 3px $color_quill_gray_approx;
		text-align: center;
	}
}
#sign_up {
	margin-top: 0;
}
@media screen and(max-width: 1024px) {
	.reg_block button {
		width: 100%;
		margin-left: 0;
		font: bold 12px $font_0;
	}
}
@media screen and(max-width: 480px) {
	.reg_block {
		margin: 4% 3% 0;
		width: 60%;
	}
	header {
	}
}