<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../../build/css/index.css">
    <script src="../../build/js/container_index.js"></script>
	<!--<link rel="stylesheet" href="../../build/css/rs-project.css">-->
	<!--<script src="../src/lib/jquery.js"></script>
	<script src="../src/js/index/index.js"></script>
	<script src="../src/js/index/viewProjects.js"></script>
	<script src="../src/js/index/addProject.js"></script>-->
	<!-- <script src="client/src/js/index/users/checkAuthrorization.js"></script>
	<script src="client/src/js/index/users/message.js"></script> -->
</head>
<body>
	<div class="menu">

		<header class="menu__header">
		<h1 class="menu__header-text">To Do</h1>
		<i class="icon-backburger menu_hide"></i>
		<i class="icon-backburger menu_show"></i>
		</header>

	<div class="menu__add-project">
		<i class="icon-plus"></i>
	</div>

	<div class="menu__project" id="">
	<i class="icon-project"></i>
	<div class="menu__project-name">Project 1</div>
	</div>

	</div>
	<div class="content">
		<header class="content__header">
			<div class="content__project-name"></div>
                <i class="icon-exit"></i>
		</header>
	Taski
    <!--Кнопка действий над проектом-->
    <div class="options"><i class="icon-plus-circle"></i>
    <!--Блок опций для проекта-->
    <ul class="project-options">
        <li class="project-option__edit-project"><i class="icon-project"></i>Редактировать</li>
        <li class="project-option__delete-project"><i class="icon-project"></i>Удалить</li>
    </ul>
    </div>
	</div>

	<!-- Подложка -->
<div id="overlay"></div>
<div id="options-overlay"></div>
	<!-- Модальное окно -->
<div class="modal-window">
	<div id="modal-window__close"></div>
	<form method="POST" class="add-project-form">
				<input id="add-project-form__name" class="field" type="text" maxlength=15 name="project-name" placeholder="Project name" required>
				<button id="add-project-form__button" type="submit">Добавить проект</button>
	</form>
</div>

</body>
</html>