<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../src/css/index.css">
	<script src="../src/lib/jquery.js"></script>
	<script src="../src/js/index/index.js"></script>
	<script src="../src/js/index/viewProjects.js"></script>
	<script src="../src/js/index/addProject.js"></script>
	<!-- <script src="client/src/js/index/users/checkAuthrorization.js"></script>
	<script src="client/src/js/index/users/message.js"></script> -->
</head>
<body>
	<div class="menu">

		<header class="menu__header">
		<h1 class="menu__header-text">To Do</h1>
		<div class="menu_hide"></div>
		<div class="menu_show"></div>
		</header>

	<div class="menu__add-project">
		<div class="menu_plus"></div>
	</div>

	</div>
	<div class="content">
		<header class="content__header">
			<div class="content__project-name"></div>
			<div id="exit"></div>
		</header>
	Taski
	<div class="content__porject-option"></div>
	</div>
	<!-- Подложка -->
<div id="overlay"></div>
	<!-- Модальное окно -->
<div class="modal-window">
	<div id="modal-window__close"></div>
	<form method="POST" class="add-project-form">
				<input id="add-project-form__name" class="field" type="text" maxlength=15 name="project-name" placeholder="Project name" required>
				<button id="add-project-form__button" type="submit">Добавить проект</button>
	</form>
</div>

</body>
</html>