
.icon-close:before { content: '\e800'; } /* '' */
.icon-exit:before { content: '\e801'; } /* '' */
.icon-plus:before { content: '\e802'; } /* '' */
.icon-plus-circle:before { content: '\e803'; } /* '' */
.icon-project:before { content: '\e804'; } /* '' */
.icon-backburger:before { content: '\e805'; } /* '' */